[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
model-mommy = "*"
django-naomi = "*"

[packages]
dj-database-url = "*"
gunicorn = "*"
psycopg2 = "*"
django = "*"
python-decouple = "*"
django-heroku = "*"
django-log-request-id = "*"
whitenoise = "*"
djangorestframework = "*"
django-model-utils = "*"
ipython = "*"
django-widget-tweaks = "*"

[requires]
python_version = "3.6"
